:root {
	/* dark shades of primary color*/
	/* --clr-primary-1: hsl(43, 86%, 17%); */
	--clr-primary-0: hsl(206, 99%, 31%);
	--clr-primary-1: hsl(184, 91%, 17%);
	--clr-primary-2: hsl(185, 84%, 25%);
	--clr-primary-3: hsl(185, 81%, 29%);
	--clr-primary-4: hsl(184, 77%, 34%);
	--clr-primary-5: rgb(56, 115, 143);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(185, 57%, 50%);
	--clr-primary-7: hsl(184, 65%, 59%);
	--clr-primary-8: hsl(184, 98%, 65%);
	--clr-primary-9: hsl(185, 94%, 87%);
	--clr-primary-10: hsl(199, 91%, 91%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(209, 26%, 64%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-green-dark: hsl(125, 67%, 35%);
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-white: #fff;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--l-transition: all 0.5s ease-out;
	--spacing: 0.2rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/
html {
	font-size: 90%;
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-secondary);
	background: var(--clr-white);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
	margin-top: 5rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.6;
	margin-bottom: 0.75rem;
	font-family: var(--ff-primary);
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  global classes */

.btn {
	text-transform: uppercase;
	background: var(--clr-primary-0);
	color: var(--clr-primary-9);
	padding: 0.375rem 0.75rem;
	letter-spacing: var(--spacing);
	display: inline-block;
	font-weight: 700;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	font-size: 0.875rem;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: var(--radius);
}
.btn:hover {
	color: var(--clr-primary-1);
	background: var(--clr-primary-8);
}
.center-btn {
	display: block;
	width: 12rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 3rem;
}
/* section */
.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}

.section-title {
	margin-bottom: 4rem;
	text-align: center;
}
.bg-grey {
	background: var(--clr-grey-10);
}
/* page links */

/* social links */
.social-links {
	margin-top: 2rem;
	width: 15rem;
	display: flex;
	justify-content: space-between;
}
.social-link {
	font-size: 1.75rem;
	color: var(--clr-primary-6);
	transition: var(--transition);
}
.hero .social-link {
	opacity: .3;
	animation: glow 2s 5.6s ease forwards;
}
@keyframes glow {
	0% {
		opacity: .3;
	}
	100% {
		opacity: 1;
	}
}
.social-link:hover {
	font-size: 1.75rem;
	color: var(--clr-white);
}
/*
=============== 
Navbar
===============
*/

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	z-index: 200;
	background: var(--clr-white);
}

.nav-center {
	width: 90vw;
	max-width: 1170px;
	margin: 0 auto;
}
.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-header img {
	height: 70px;
	border-radius: .5rem;
}
.toggle-btn {
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-primary-5);
	cursor: pointer;
	transition: var(--transition);
}
.toggle-btn:hover {
	color: var(--clr-primary-2);
}
.nav-links {
	display: none;
}
@media screen and (min-width: 768px) {
	.toggle-btn {
		display: none;
	}
	.nav-links {
		display: flex;
		justify-content: flex-end;
	}
	.nav-links li {
		margin-right: 2rem;
	}
	.nav-links a {
		text-transform: capitalize;
		color: rgb(6, 41, 48);
		font-weight: bolder;
		letter-spacing: var(--spacing);
		transition: var(--transition);
		padding: 0.5rem 0;
	}
	.nav-links a:hover {
		box-shadow: 0px 2px rgb(6, 41, 48);
	}
	.nav-center {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
	}
}

@media screen and (min-width: 992px) {
	.navbar {
		background: transparent;
	}
	.light-links a {
		color: rgb(179, 242, 255);
	}
	.light-links a:hover {
		color: rgb(220, 249, 255);
		box-shadow: 0px 2px rgb(220, 249, 255);
	}
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
	/* background: var(--clr-grey-10); */
	background: linear-gradient(to top, #116677 0%, #000 50%, #99c7b6 100%);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: grid;
	place-items: center;
	opacity: 0;
	transition: var(--transition);
	transform: translateX(-100%);
}
.show-sidebar {
	opacity: 1;
	transform: translateX(0);
}
.sidebar-links li {
	opacity: 0;
}
.sidebar-links li a {
	display: block;
	text-align: center;
	text-transform: capitalize;
	color: var(--clr-grey-5);
	letter-spacing: var(--spacing);
	margin-bottom: 0.5rem;
	font-size: 2rem;
	transition: var(--transition);
	border-radius: var(--radius);
}
.sidebar-links li a:hover {
	background: var(--clr-primary-9);
	color: var(--clr-primary-5);
}
.close-btn {
	position: absolute;
	right: 4.75%;
	top: 2.75%;
	font-size: 2.5rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-primary-9);
	cursor: pointer;
	transition: var(--l-transition);
}
.close-btn:hover {
	color: rgb(49, 36, 36);
	transform: rotate(30deg);
}
@media screen and (min-width: 992px) {
	.sidebar {
		transform: translateX(-100%);
	}
}
/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
	animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
	animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
	animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
	animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
	animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
	animation-delay: 1.25s;
}
@keyframes slideRight {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.sidebar-icons li {
	opacity: 0;
	animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
	animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
	animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
	animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
	animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
	animation-delay: 1.25s;
}
@keyframes slideUp {
	0% {
		transform: translateY(200px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*
=============== 
Hero
===============
*/

.hero {
	margin-top: -5rem;
	padding-top: 5rem;
	height: 100vh;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 3, 15, 1) 25%, rgba(0, 212, 255, 1) 100%);
	position: relative;
}

.hero-center {
	height: 100%;
	display: grid;
	align-items: center;
	/* justify-content: center; */
}

.hero-info {
	background-color: transparent;
	max-width: 600px;
	padding-left: 2rem;
}
.hero-img {
	display: none;
}
.line1 {
	color: #fff;
}
.hero-info h4 {
	color: var(--clr-grey-5);
}
.hero-info h1 {
	font-size: 2.5rem;
	line-height: 2;
}
.hero-icons {
	justify-items: flex-start;
}
.hero .btn {
	margin-top: 1.25rem;
	animation: popup 2s 5.6s ease forwards;
	opacity: 0;
}
@keyframes popup {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.console_line {
	white-space: nowrap;
	overflow: hidden !important;
	width: 0;
}

.line1 {
	-webkit-animation: type .5s .5s steps(67) forwards;
	-moz-animation: type .5s .5s steps(67) forwards;
	-o-animation: type .5s .5s steps(67) forwards;
	animation: type .5s .5s steps(67) forwards;
}

.line2 {
	-webkit-animation: type 3s 3s steps(101) forwards;
	-moz-animation: type 3s 3s steps(103) forwards;
	-o-animation: type 3s 3s steps(101) forwards;
	animation: type 3s 3s steps(101) forwards;
}

.cursor1 {
	-webkit-animation: blink 1s 1s 2 forwards;
	-moz-animation: blink 1s 1s 2 forwards;
	-o-animation: blink 1s 1s 2 forwards;
	animation: blink 1s 1s 2 forwards;
}

.cursor2 {
	-webkit-animation: blink 1s 3.5s 2 forwards;
	-moz-animation: blink 1s 3.5s 2 forwards;
	-o-animation: blink 1s 3.5s 2 forwards;
	animation: blink 1s 3.5s 2 forwards;
}
.underline {
	width: 5rem;
	height: 0.25rem;
	margin-bottom: 1.25rem;
	background: var(--clr-primary-0);
	margin-left: auto;
	margin-right: auto;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes type {
	to {
		width: 100%;
	}
}

@-webkit-keyframes type {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes type {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 992px) {
	.hero::before {
		content: "";
		position: absolute;
		top: 0;
		left: 65%;
		right: 0;
		bottom: 0;
		background: linear-gradient(center, rgb(2, 111, 133) 0%, rgb(229, 249, 253) 100%);
	}
	.hero-center {
		grid-template-columns: repeat(12, 1fr);
	}

	.hero h4 {
		font-size: 0.85rem;
	}
	.hero-info {
		grid-row: 1/1;
		grid-column: 1 / span 8;
	}

	.hero-img {
		display: block;
		grid-row: 1/1;
		grid-column: 6/-1;
		border-radius: .8rem;
		box-shadow: var(--dark-shadow), var(--light-shadow);
		max-width: 80%;
		margin: 2rem 0 0 7rem;
	}
}
@media screen and (min-width: 1170px) {
	.hero h4 {
		font-size: 1rem;
	}

	.hero-info {
		grid-column: 1 / span 8;
	}

	.hero h4 {
		line-height: 1;
	}
}

/*
=============== 
Services
===============
*/
.service {
	background: var(--clr-white);
	padding: 3rem 1.5rem;
	margin-bottom: 2rem;
	border-radius: var(--radius);
	text-align: center;
	-webkit-transition: var(--transition);
	transition: var(--transition);
}
.service-icon {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.service .underline {
	width: 3rem;
	height: 0.12rem;
	-webkit-transition: var(--transition);
	transition: var(--transition);
}
.service p {
	-webkit-transition: var(--transition);
	transition: var(--transition);
}
.service:hover {
	background: var(--clr-primary-5);
	color: var(--clr-primary-9);
}
.service:hover p {
	color: var(--clr-primary-9);
}
.service:hover .underline {
	background: var(--clr-primary-9);
}
@media screen and (min-width: 676px) {
	.services-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
	}
}
@media screen and (min-width: 992px) {
	.services-center {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*
=============== 
Jobs
===============
*/

.jobs-center {
	width: 80vw;
	margin: 0 auto;
	max-width: var(--max-width);
}
.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4rem;
}
.job-btn {
	background: transparent;
	border-color: transparent;
	text-transform: capitalize;
	font-size: 1.25rem;
	letter-spacing: var(--spacing);
	margin: 0 0.5rem;
	transition: var(--transition);
	cursor: pointer;
	padding: 0.25rem 0;
	line-height: 1;
	outline: 0;
}

.job-btn:hover {
	color: var(--clr-primary-5);
	box-shadow: 0 2px var(--clr-primary-5);
}
.job-btn:focus {
	font-weight: bold;
}

.active-btn {
	color: var(--clr-primary-5);
	box-shadow: 0 2px var(--clr-primary-5);
}
.job-info {
	min-height: 200px;
}
.job-info h3 {
	font-weight: 400;
	margin-bottom: 1.5rem;
}
.job-info h4 {
	text-transform: uppercase;
	color: var(--clr-grey-5);
	background: var(--clr-grey-9);
	display: inline-block;
	padding: 0.375rem 0.75rem;
	border-radius: var(--radius);
	margin-bottom: 1rem;
}
.job-date {
	letter-spacing: var(--spacing);
}
.job-desc {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 2rem;
	align-items: center;
	margin-bottom: 1.25rem;
}
.job-desc a {
	margin-bottom: 0;
	color: var(--clr-grey-3);
}
.job-icon {
	color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
	.jobs-center {
		width: 90vw;
		display: grid;
		grid-template-columns: 200px 1fr;
		column-gap: 4rem;
	}
	.btn-container {
		flex-direction: column;
		justify-content: flex-start;
	}
	.job-btn {
		margin-bottom: 1rem;
	}
	.active-btn {
		box-shadow: -2px 0 var(--clr-primary-5);
	}
	.job-btn:hover {
		box-shadow: -2px 0 var(--clr-primary-5);
	}
}

/*
=============== 
Projects
===============
*/
.projects {
	background: var(--clr-grey-10);
}
.project {
	display: grid;
	margin-bottom: 4rem;
}
.project-img {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	height: 19rem;
	z-index: 1;
}
.project-img::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, var(--clr-primary-5), #222);
	opacity: 0.85;
	transition: var(--l-transition);
}
.project:hover .project-img::after {
	width: 0;
	opacity: 0;
	transition: all .5s ease-in;
}
.project-info {
	background: var(--clr-white);
	padding: 1rem 2rem;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}
.project-number {
	display: inline-block;
	font-size: 1.25rem;
	color: var(--clr-primary-5);
	margin-bottom: 0.75rem;
}
.project-info h3 {
	font-weight: 500;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}
.project-desc {
	word-spacing: 15px;
	color: var(--clr-grey-3);
}
.project-stack {
	margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
	display: inline-block;
	background: var(--clr-grey-8);
	color: black;
	margin-right: 0.5rem;
	margin-bottom: .5rem;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.85rem;
}
.about-stack span {
	margin-top: 0.5rem;
}
.project-links {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.project-icon {
	color: var(--clr-primary-5);
	font-size: 1.7rem;
	transition: var(--transition);
}
.project-icon-txt {
	position: absolute;
	right: 0;
	bottom: -11px;
	color: var(--clr-white);
	font-size: .9rem;
	transition: var(--l-transition);
	opacity: 0;
	font-weight: bold;
}
.padd {
	padding: .5rem;
}
.padd:hover,
.project-icon:hover {
	color: var(--clr-primary-1);
}
.padd:hover + span {
	color: var(--clr-primary-1);
	transform: translateX(-20%);
	opacity: 1;
}
@media screen and (min-width: 576px) {
	.project-img {
		height: 19rem;
	}
}
@media screen and (min-width: 768px) {
	.project-img {
		height: 22rem;
	}
}
@media screen and (min-width: 992px) {
	.project {
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
	}
	.project-img {
		grid-column: 1 / span 8;
		/* grid-column-end: 8; */
		grid-row: 1 / 1;
		height: 30rem;
		border-radius: var(--radius);
		box-shadow: var(--dark-shadow);
	}
	.project-info {
		border-radius: var(--radius);
		box-shadow: var(--dark-shadow);

		z-index: 1;
		grid-column: 5 /12;
		grid-row: 1 / 1;
	}
	.project:nth-of-type(even) .project-img {
		grid-column: 5 / -1;
		grid-row: 1 / 1;
	}
	.project:nth-of-type(even) .project-info {
		grid-column: 2 / span 7;
		grid-row: 1 / 1;
		text-align: left;
	}
}

/*
===============
Footer
===============
*/
.footer {
	height: 9rem;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 3, 15, 1) 35%, rgba(0, 212, 255, 1) 100%);
	text-align: center;
	display: grid;
	place-items: center;
}
.footer h4 {
	margin-top: 0.5rem;
	color: var(--clr-grey-9);
	font-weight: normal;
	text-transform: uppercase;
}
.footer p {
	margin-top: 0.5rem;
	color: var(--clr-grey-9);
	text-transform: capitalize;
}
.footer a {
	color: var(--clr-primary-6);
	text-transform: uppercase;
}
.footer-links {
	margin: 0 auto 1rem auto;
}
.footer .social-link {
	color: var(--clr-white);
}
.footer .social-link:hover {
	color: var(--clr-primary-8);
}
/*
===============
Pages
===============
*/
.contact-page,
.projects-page,
.error-page,
.about-page {
	min-height: calc(100vh - 5rem - 9rem);
}

.about-page {
	background: #1d2424;
}
.contact-page {
	background: linear-gradient(90deg, #1678 0%, rgba(0, 0, 0, .1) 50%, #99c7b6 100%);

	min-height: calc(100vh - 5rem - 9rem);
}
.error-page {
	display: grid;
	place-items: center;
	background: var(--clr-primary-10);
	text-align: center;
}
.error-page h1 {
	text-transform: uppercase;
	color: var(--clr-primary-1);
	margin-bottom: 2rem;
}

/*
===============
About Page
===============
*/
.about-page {
	padding: 1rem 0;
}
.move {
	max-width: 800px;
	margin: 0 auto;
}
.about-img {
	margin-bottom: 2rem;
	width: 100%;
}
.about-text .section-title {
	margin-bottom: 2rem;
	text-align: left;
}
.about-text .underline {
	margin-left: 0;
	margin-right: 0;
}
.about-text .section-title {
	color: rgb(73, 105, 153);
}
.about-text p {
	line-height: 1.5;
	font-size: 1.3rem;
	margin-top: -1rem;
	color: var(--clr-white);
}
.stack-container {
	width: 30rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 0.5rem;
}
.stack-container span {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	letter-spacing: 1px;
	color: var(--clr-grey-4);
}
.stack-icon {
	color: var(--clr-primary-5);
	margin-right: 0.25rem;
	font-size: 1rem;
}

/*
===============
Contact Page
===============
*/
.contact-page {
	display: grid;
	place-items: center;
	padding: 5rem 0;
}
.contact-form {
	background: var(--clr-white);
	border-radius: var(--radius);
	text-align: center;
	box-shadow: var(--light-shadow);
	transition: var(--transition);
	width: 90vw;
	max-width: 35rem;
}
.contact-form:hover {
	box-shadow: var(--dark-shadow);
}
.contact-form h3 {
	padding-top: 1.25rem;
	color: var(--clr-grey-5);
}
.form-group {
	padding: 1rem 1.5rem;
}
.form-control {
	display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	border: none;
	margin-bottom: 1.25rem;
	background: var(--clr-grey-10);
	border-radius: var(--radius);
	font-family: inherit;
	font-size: 1rem;
}
.form-control::placeholder {
	font-family: var(--ff-primary);
	color: var(--clr-grey-1);
	text-transform: uppercase;
	letter-spacing: var(--spacing);
}
.submit-btn {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .5rem;
	padding: .8rem;
	border-radius: var(--radius);
}
.submit-btn:hover {
	background: hsl(202, 83%, 37%);
	color: var(--clr-white);
}
